<?xml version="1.0" encoding="UTF-8"?>

<mule version="EE-3.7.2"
	xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:sap="http://www.mulesoft.org/schema/mule/sap" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr" 
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">

	<!-- This is the main configuration file, you should place here the Connectors configuration and declarations -->

	<context:property-placeholder location="common.properties, mule.${mule.env}.properties" />
    <http:listener-config name="HTTP" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>    
    
    <smtp:gmail-connector name="SMTP" doc:name="Gmail" validateConnections="true" contentType="text/html" />
    
    <sap:connector name="SAP" jcoAsHost="${sap.jco.ashost}"
		jcoUser="${sap.jco.user}" jcoPasswd="${sap.jco.passwd}" jcoSysnr="${sap.jco.sysnr}"
		jcoClient="${sap.jco.client}" jcoLang="${sap.jco.lang}"
		validateConnections="true"
		doc:name="SAP"  />
		
	<wd-hr:config name="Workday_Human_Resource" hrUser="${wday.user}" hrPassword="${wday.password}" hrEndpoint="${wday.endpoint}" doc:name="Workday Human Resource">
		<wd-hr:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW" />
	</wd-hr:config>

</mule>
